.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 100px);
    .heading {
        font-family: Montserrat;
        font-display: swap;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 70px;
        letter-spacing: .02em;
        color: #181818;
    }
    .form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        gap: 1rem;
        .form-group {
            display: flex;
            flex-direction: column;
            gap: 4px;
            label {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 26px;
                color: #6b6b74;
                font-family: Montserrat;
            }
            .form-control {
                background: #f8f7ff;
                border-radius: 4px;
                border: none;
                line-height: 26px;
                padding: 10px 16px;
                font-size: 16px;
                letter-spacing: 2%;
                font-family: Montserrat;
            }
        }
        .btn-primary {
            width: 100%;
            height: 100%;
            font-display: swap;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            background: #259cd7;
            border-radius: 4px;
            color: #fff;
            padding: 10px 16px;
            border: none;
            transition: .1s;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-family: Montserrat;
        }
    }
    .form-footer {
        font-family: Montserrat;
        font-style: normal;
        font-display: swap;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: .02em;
        color: #6b6b74;
        text-align: start;
        width: 100%;
        a {
            font-family: Montserrat;
            font-display: swap;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            color: #1176a8;
            cursor: pointer;
            text-decoration: none;
        }
    }
}
.form-error {
    .errors-sub{
        color: red;
        font-size: 10px;
  }
    input {
        border: 1px solid red !important;
    }
}
@media (max-width: 600px) {
    .container {
      .form {
        max-width: 90%; // Allows the form to expand fully on small screens
  
        .btn-primary {
          font-size: 16px; // Slightly smaller font size on smaller screens
        }
      }
      .form-footer {
        font-size: 14px;
        a {
          font-size: 14px;
        }
      }
    }
  }