<h1 mat-dialog-title>Add Employees</h1>
<mat-dialog-content>
        <div class="form-group">
            <label for="name">Name</label>
            <input
           
                placeholder="Name"
                type="text"
                id="name"
                class="form-control"
                name="name"
                [(ngModel)]="employee.name"
                required
            />
            </div>
            <div class="form-group">
                <label for="employer">Employer</label>
                <input
               
                    placeholder="Employer"
                    type="text"
                    id="employer"
                    class="form-control"
                    name="employer"
                    [(ngModel)]="employee.employer"
                    required
                />
            </div>
            <div class="form-group">
                <label for="position">Position</label>
                <input
               
                    placeholder="Position"
                    type="text"
                    id="position"
                    class="form-control"
                    name="position"
                    [(ngModel)]="employee.position"
                    required/>
            </div>
            <div class="form-group">
                <label for="Sallary">Salary</label>
                <input
                min="0"
                    placeholder="Salary"
                    type="number"
                    id="salary"
                    class="form-control"
                    name="salary"
                    [(ngModel)]="employee.salary"
                    required
                />
            </div>
            <div class="form-group">
                <label for="Sallary">Deductions</label>
            </div>
            <div class="deduction-form" *ngFor="let deduction of employee.deduction; let i=index">
                <div class="form-group">
                    <label for="deduction">Item {{i + 1}}</label>
                    <input
                        min="0"
                        placeholder="Deduction"
                        id="deduction"
                        class="form-control"
                        name="deduction"
                        [(ngModel)]="deduction.name"
                        required
                    />
                </div>
                <div class="form-group">
                    <label class="deduction-value" for="deduction">Value <mat-icon (click)="removeItem(i)" color="warn">close</mat-icon></label>
                    <input
                        min="0"
                        placeholder="Deduction Value"
                        type="number"
                        id="deduction"
                        class="form-control"
                        name="deduction"
                        [(ngModel)]="deduction.value"
                        required
                    />
                </div>
            </div>
            <button (click)="addDeduction()" class="deduction-btn" mat-stroked-button color="primary">
                <mat-icon>add</mat-icon>
                Add deductions
              </button>
            <div class="form-group">
                <label for="deduction">Net Pay</label>
                <input
                    min="0"
                    [disabled]="true"
                    placeholder="Net Pay"
                    type="number"
                    id="pay"
                    class="form-control"
                    name="pay"
                    [value]="calCulateSalary()"
                    required/>
            </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button  mat-button color="warn" mat-dialog-close>Cancel</button>
    <button [disabled]="validateEmploy()" mat-stroked-button color="primary" [mat-dialog-close]="employee" cdkFocusInitial>Save</button>
</mat-dialog-actions>