<div class="container">
  <div class="employee-header">
    <button mat-stroked-button color="primary" (click)="showAddModal()">
      <mat-icon>add</mat-icon>
      Add Employee
    </button>
    <div class="input-container">
      <mat-icon class="search">search</mat-icon>
      <input class="filter-input" [(ngModel)]="searchValue" (input)="search()" placeholder="Search employees..." />
    </div>
    <button class="filter-btn" mat-button mat-stroked-button color="primary" [matMenuTriggerFor]="menu">
      Sort {{ascSort}}<mat-icon>arrow_drop_down</mat-icon>
    </button>    
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="sortNames('Name (A-Z)')">Name (A-Z)</button>
      <button mat-menu-item (click)="sortNames('Name (Z-A)')">Name (Z-A)</button>
      <button mat-menu-item (click)="sortNames('Salary (L-H)')">Salary (L-H)</button>
      <button mat-menu-item (click)="sortNames('Salary (H-L)')">Salary (H-L)</button>
    </mat-menu>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th class="th-name" scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Employer</th>
        <th scope="col">Salary</th>
        <th scope="col">Deduction</th>
        <th scope="col">Net Income</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td data-label="Id">{{employee.id}}</td>
        <td data-label="Name">{{employee.name}}</td>
        <td data-label="Position">{{ employee.position }}</td>
        <td data-label="Employer">{{ employee.employer }}</td>
        <td data-label="Salary">${{employee.salary | number}}</td>
        <td data-label="Deduction">${{calculateDeduction(employee) | number}}</td>
        <td data-label="Net Income">${{calculateSalary(employee) | number}}</td>
        <td class="controls" data-label="Actions">
            <button mat-icon-button color="primary" (click)="showUpdateModal(employee)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="showDeleteConfirm(employee._id)">
              <mat-icon>delete</mat-icon>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!employees.length" class="no-data">
    <span>No Data</span>
  </div>
</div>
