.container {
    padding: 32px 10%;
    .table {
        margin-top: 32px;
        width: 100%;
        .controls {
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }
    .no-data{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-top: none;
    }
    .input-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        padding: 0 8px;
        .filter-input{
            line-height: 26px;
            height: 32px;
            font-size: 16px;
            letter-spacing: 2%;
            width: 200px;
            border: none
        }
        .filter-input:focus {
            outline: none;
            border: none;
        }
        .search {
            color: rgba(0, 0, 0, 0.45);
        }
        
    }
    .filter-btn{
        width: 180px;
    }
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    overflow-wrap: break-word;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

  .employee-header{
    display: flex;
    align-items: center;
    max-height: 60px;
    justify-content: space-between;
  }
  
  
  /* general styling */
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }

  @media screen and (max-width: 600px){
    ::ng-deep .mobile-responsive-modal{
       width: calc(100vw - 20px) !important;
    }
    .employee-header {
        flex-direction: column;
        align-items: start;
        gap: 8px;
        max-height: 100%;
        width: 100%;
        .input-container{
            width: 95%;
            .filter-input{
               flex: 1;
            }
        }
        button{
            width: 100%;
        }
        .filter-btn{
            width: 100%;
        }
    }
   }