.full-page-spinner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10001; /* Ensure it's above other content */
  display: flex;
  align-items: center;
  justify-content: center;
}
.blur-background {
  filter: blur(5px);
  z-index: 10000;
  position: absolute;
  width: 100%;
  background-color: #fff;
}

.min-height {
  height: calc(100vh - 131px);
}